
@model Student;

<h1>Edit Student</h1>

<form asp-action="EditStudent" method="post" class="fw-bold">
    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input asp-for="Id" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Course">Course</label>
        <select asp-for="Course" asp-items="Html.GetEnumSelectList(typeof(Course))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="DateEnrolled">Date Enrolled</label>
        <input type="date" asp-for="DateEnrolled" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" onclick="history.back()" class="btn btn-secondary">Cancel</button>

</form>